/*
 * 24CinL
 * Team stylesheet for Blog.
*/

/* ******************************** About ********************************* */
.profile-user-img {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 240px ;
    height: 240px ;
    border: 1px solid #EEEEEE;
}

.user-field-section {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-size: 16px;
}

.field-divider {
    margin-top: 1%;
    margin-bottom: 1%;
}

.user-divider {
    margin-top: 4%;
    margin-bottom: 4%;
}

.user-link:link, .user-link:visited {
    font-size: 19px;
    margin-right: 12px;
    color: #777;
    text-decoration: none;
}

.user-link:hover {
    color: #0099e6;
    text-decoration: none;
}

/* ***************************** Home & Articles ************************** */
.header-text {
    text-shadow: 1px 1px #121212;
}

.category-field-set {
    color: #262626;
    font-family: sans-serif;
    font-size: 17px;
    margin-top: 5px;
}

.category-field-set:hover, .category-field-set:link, .category-field-set:visited{
    text-decoration: none;
}

.field-tag-set {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 15px;
    padding: 5px;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    background-color: #e6e6e6;
    width: auto;
}

.field-tag-set:hover{
    text-decoration: none;
    background-color: #cce6ff;
    color: #004d99;
}

.article-footer-divider{
    padding: 5px;
    margin-top: 5%;
    margin-bottom: 5px;
}

.article-footer-desc{
    color: grey;
    font-family: sans-serif;
    font-size: 16px;
    font-style: italic;
    margin-right: 10px;
}

.tag-divider{
    margin-top: 5px;
}


/* ******************************** Search ******************************** */
.search-intro-section {
    font-size: 20px;
    margin-bottom: 5%;
}

/* **************************** Category & tag **************************** */

/* Navbar */
.navbar-category-tag{
    margin-top: 5px;
    margin-bottom: 5px;
    bottom:0;
}

.navbar-button-left{
    margin-top: 4px;
    margin-left: -40px;
    float: left;
}

.navbar-elem{
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 7px;
    margin-right: 0px;
    border-left: 2px solid #dedede;
}

.navbar-elem:hover{
    background-color: #f4f4f4;
    border-left: 2px solid #454545;
}

.elem-link{
    line-height: 20px;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.elem-link:focus, .elem-link:hover{
    text-decoration: none;
    color: #000;
}

.navbar-search-right{
    margin-right: -15px;
    float: right;
}

/* Category */
.category-box{
    font-family: Verdana, sans-serif;
    font-size: 10px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    position: relative;
    overflow: hidden;
    border: 0px;
    height: auto;
}

.category-box span{
    float: left;
    padding: 7px;
    width: 100%;
    height: 41%;
    color: #dedede;
    background: #222; /* browser che non supportano rgba */
    position: absolute;
    bottom: 0;
}

.category-box span strong {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px;
}

.category-box span small {
    font-size: 10px;
    display: block;
}


.category-box:hover{
    -webkit-transform:scale(1.1,1.1);
    cursor: pointer;
}

.category-box img:hover{
    cursor: pointer;
}

.category-box img{
    opacity: 0.7;
    width: 270px;
    height: 165px;
}

.category-header{
    font-family: Verdana, sans-serif;
    font-size: 21px;
    position: relative;
}

.category-header img{
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 270px;
}


/* Tag */
.tag-header{
    margin-top: 13%;
    margin-bottom: 10%;
    padding-top: 5px;
    padding-bottom: 20px;
    background-image: url("http://reencoded.s3.amazonaws.com/wp-content/uploads/2011/09/04-grey-wallpapers.jpg");

}

.tag-header h1{
    color: #000;
    text-shadow: 1px 1px #dedede;
}

.tag-header span{
    font-family: verdana;
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.tag-container{
    float: left;
    padding-left: 15px;
    height: 130px;
    width: 190px;
}

.tag-box{
    font-family: Verdana, sans-serif;
    font-size: 11px;
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.tag-box:hover{
    -webkit-transform:scale(1.1,1.1);
    cursor: pointer;
    text-decoration: none;
}

.tag-box span{
    font-size: 15px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 2px;
    float: left;
    margin-bottom: 7px;
    width:auto;
    position: relative;
}

.tag-box:hover span{
    color: #264d73;
    border-bottom: 1px solid #264d73;
}

.tag-box a{
    width: auto;
    height: auto;
    float: left;
    text-decoration: none;
}

.tag-box i{
    width: auto;
    font-style: normal;
    float: left;
    text-decoration: none;
}


.catEtag-header-back{
    margin-top: 40%;
    margin-bottom: 40%;
    padding: 0px;
    font-size: 40px;
    float: left;
}

.catEtag-header-back:hover{
    -webkit-transform:scale(1.3,1.3);
}


/* ******************************* Gallery ******************************** */
.pictures-container{
    margin-top: 10px;
    padding-left: 1.7%;
}

.picture-box{
    float: left;
    width: 265px;
    height: 215px;
    padding: 0px;
    margin: 7px;
    overflow: hidden;
    /* All browser */
    -moz-box-shadow:  7px  5px 5px #dedede;
    -webkit-box-shadow:  7px  5px 5px #dedede;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#dedede', Direction=135, Strength=10);
    box-shadow: 7px 5px 5px #dedede;
}

.picture-box img{
    width: 100%;
    height: 100%;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.picture-box img:hover{
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    cursor: pointer;
    text-decoration: none;
}


/* ***************************** Modal Window ****************************** */
.overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    min-height:100%;
    height:100%;
    background-color: rgba(0,0,0,0.8);
    z-index:10000;
}

.modal{
    position: absolute;
    top: 2%;
    bottom: 2%;
    width: 85%;
    height: auto;
    margin: auto;
    padding: 5px;
    background: none;
}

.modal-content{
    position: relative;
    font-family: Verdana;
    border: none;
    box-shadow: none;
    background: none;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.modal-body{
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    color: #efefef;
}

.modal-body i{
    position: absolute;
    top: 43%;
    margin: auto;
    padding: 3px;
    color: #cdcdcd;
    font-size: 30px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.modal-body i:hover{
    cursor: pointer;
    color: #ffffff;
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

#previous_picture{
    left: 15px;
}

#next_picture{
    right: 15px;
}

.modal-body img{
    width: auto;
    max-width: 90%;
    height: auto;
    max-height: 90%;
    margin: 0 auto;
}

.modal-body span{
    font-family: verdana;
    font-size: 13px;
    font-weight: bold;
    width: auto;
    height: auto;
    float: left;
    text-align: left;
    padding: 4px;
    background-color: rgba(0,0,0,0.7);
}

.modal-body p{
    font-size: 11px;
    margin-top: 0px;
    line-height: normal;
    width: 70%;
    padding-left: 2px;
}

.modal-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    padding-left: 17px;
    margin: -20px auto;
    color: #ffffff;
}

.modal-footer span a{
    font-family: sans-serif;
    font-size: 11px;
    color: #ffffff;
}

.modal-footer a:hover{
    color: #00aaff;
    text-decoration: none;
}

.modal-footer strong{
    font-size: 12px;
    text-decoration: underline;
}


/* ******************************* Comments ******************************* */

.comment-container{
    margin-top: 10%;
}

.comment-header{
    font-family: Verdana;
    font-size: 18px;
    color: #343434;
    width: 103%;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #dedede;
}

.comment-field-group{
    padding-left: 10px;
    border-left: 2px solid #dedede;
}

.comment-divider{
    margin-top: 10px;
    margin-bottom: 10px;
}


/* ******************************* General ******************************** */

.mini-search-form{
    margin-top: 9px;
}

.mini-search{
    font-family: Verdana;
    font-size: 17px;
    padding-bottom: 7px;
    padding-left: 2px;
    border-width: 0px;
    border-bottom: 1px solid #dfdfdf;
}

.mini-search:focus{
    outline: none;
}

.navbar-search-elem{
    float: right;
    width: auto;
}

.pager-other{
    margin-top: 4%;
    margin-left: 39%;
    margin-right: 35%;
    margin-bottom: 4%;
    list-style: none;
    font-size: 11px;
    font-family: verdana;
    color: #343434;
}

.pager-other span{
    float: left;
    padding-left: 13px;
    margin-right: 13px;
}

.nextBack-button{
    float: left;
    margin: auto;
    padding: 0;
    width: auto;
}

.nextBack-button a{
    padding: 8px;
    margin: 0;
    border: 1px solid #d9d9d9;
    text-decoration: none;
}

.nextBack-button a:hover{
    background-color: #e2e2e2;
    border-color: #e2e2e2;
}

.pager-label {
    font-size: 16px;
    font-family: monospace;
}

.note-label{
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 15px;
    color: #454545;
}

.error-label{
    margin-top: 20px;
    margin-bottom: 5%;
    color: #cc0000;
}

.success-label{
    margin-top: 20px;
    margin-bottom: 5%;
    color: #009900;
}

.form-distance{
    padding:0px;
}

#show_form{
    margin-bottom: 10px;
}

.show-form{
    font-family: monospace;
    border-bottom: 1px solid #000000;
}

.show-form:hover{
    text-decoration: none;
}

#contact_staff{
    margin-bottom: 30px;
}

#success strong{
    font-size: 20px;
    font-weight: bold;
}

#error strong{
    font-size: 20px;
    font-weight: bold;
}

#error_message, #success_message {
    font-size:18px;
}

#liveSearch_error{
    font-size: 16px;
    font-family: verdana;
    font-style: oblique;
    text-align: center;
    padding: 7px;
    color: #204060;
    background-color: #eef5f9;
}
